.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer span {
    text-align: center;
    font-size: 0.8rem;
    margin-right: 5px;
    color: #424242;
}