footer {
    text-align: center;
}

footer p {
    font-size: 12px;
    display: flex;
  justify-content: center;
  align-items: center;
}

footer .logo {
    margin-left: 10px; 
}

@media screen and (max-width: 450px) {
    footer p {
        font-size: 10px;
        margin: 20px 0;
    }
}
