.label-container {
    text-align: center;
    border-radius: 4px;
}

.label-container p {
    font-size: 24px;
    letter-spacing: 0.6px;
    padding: 0 50px;
    color: #424242;
    font-weight: bold;
}

@media screen and (max-width: 450px) {
    .label-container p {
        font-size: 12px;
        padding: 0 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 750px) {
    .label-container p {
        font-size: 14px;
        padding: 0 20px;
    }
}